html {
  font-size: 14px;
  word-break: break-all;
}
body {
  background: #fbfbfb;
}
.simditor-device {
  width: 455px;
  height: 945px;
  margin: 0 auto;
  margin-top: 20px;
  background: url(../images/device-sprite.png) no-repeat;
  background-size: auto 100%;
  position: relative;
}

.simditor-device .simditor-content {
  position: absolute;
  top: 136px;
  left: 43px;
  width: 374px;
  height: 661px;
}

/*  ===== 页面样式 ===== */
.simditor-content::-webkit-scrollbar-button {
  display: none;
}
.simditor-content::selection {
  background: #888;
  color: #fff;
}
.simditor-content::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  padding-right: 2px;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 2px #ccc;
}
.simditor-content::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  border: 1px solid #f9f9f9;
  background-color: #9a9a9a;
}
.simditor-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  box-sizing: border-box;
  font-family: "PingFangSC-Light", sans-serif;
  padding: 0 1rem;
  background: #ffffff;
}
.simditor-content blockquote {
  line-height: 2rem;
  font-size: 1rem;
  letter-spacing: 0;
  color: #999999;
  margin: 30px 0 0;
  display: inline-block;
  width: 100%;
}
.simditor-content blockquote > p {
}
.simditor-content blockquote:before {
  content: '';
  display: block;
  width: 75%;
  height: 1px;
  margin: 0 auto;
  background: url(data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///+fn5////yH5BAEAAAMALAAAAAABAAEAAAICVAEAOw==) repeat-x center left;
  margin: 0 auto;
}
.simditor-content blockquote:after {
  content: '';
  display: block;
  width: 75%;
  height: 24px;
  margin: 0 auto;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAMCAYAAAAQw/9NAAAAAXNSR0IArs4c6QAAAXxJREFUOBHNlOtugzAMhU0vUNpCUd//Gcul5d522+cpCDFgyY9JsxSU2CY+PrbjfXyJ/GPZuWIjn6ZpdD2fT9lsNuL7vhyPR9lut8N17/db7ve7tG2rOnzO57Psdm4hPRcGX6+XZFkmfd/Lfr/XBRAD4nK5yOFwEHS3203wD8NQPM/ThNDHcay6IZNfNk7ppGkqMHi9XpU1c7dhCzYR/NDhRyII7OV5LkVRKItGr8aVz/eNKw7GVNe1UFJYolxjAZjRU1YY5jwGAYvo8C3Lcvz76t4aIEHpnym48e1d12nw0+kkQRCMTboHJC1gWuKHw4zCGiAlI8CSYKeEsBZF0ZKbMrhonDFYAyQwJQbInAAOW5Ikc+ZBB8vjaR8MCxtrgGYaATJ9OtFRNtNjnGmJqTweD/WjBWzF6Znh/SO46SWYQAcYykpgnhamGLbpV5gnIRLAxjSzbMUJIJcSmCmkVJQUkICbDkVVVcLkAwphOFhrQ6aOk48zwMn/f378BLmP3PWAjVAAAAAAAElFTkSuQmCC) no-repeat center center,url(data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///+fn5////yH5BAEAAAMALAAAAAABAAEAAAICVAEAOw==) repeat-x center left;
}
.simditor-content h4 {
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-indent: 1rem;
  width: 100%;
  background: #F5F5F5;
  color: #252525;
  letter-spacing: 0;
  border-left: 4px solid #00B5FF;
  box-sizing: border-box;
  text-align: left;
  font-weight: normal;
}

.simditor-content p,
.simditor-content b,
.simditor-content li,
.simditor-content a{
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0;
  text-align: left;
}
.simditor-content p {
  color: #666666;
}
.simditor-content b {
  color: #666666;
  font-weight: 900;
  font-family: "PingFangSC-Medium", sans-serif;
}
.simditor-content li {
  color: #666666;
}
.simditor-content a {
  color: #607FA6;
  text-decoration: none;
}
.simditor-content img {
  max-width: 96%;
}
.simditor-content img:after {
  content: attr(alt);
  display: inline-block;
}
.simditor-content ul {
  padding-left: 2.9rem;
}
.simditor-content ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.simditor-content ul li:before {
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
  position: absolute;
  margin-left: -1.6rem;
  margin-top: 1.2rem;
}
.simditor-content ol {
  padding-left: 2.9rem;
}
.simditor-content ol li {
  list-style: none;
  counter-increment: section;
  margin-bottom: 0.5rem;
}
.simditor-content ol li:before {
  content: counter(section) ".";
  height: 7px;
  display: inline-block;
  position: absolute;
  margin-left: -1.6rem;
  color: #000;
}
